PG_HOST=your-rds-host.amazonaws.com
PG_PORT=5432
PG_DATABASE=pao_course
PG_USER=your_user
PG_PASSWORD=your_password
PG_SSLMODE=require

# INCREMENTAL_START=2025-03-01T00:00:00
LOOKBACK_HOURS=24

# GSUTIL_WIN_PATH=C:\Program Files (x86)\Google\Cloud SDK\google-cloud-sdk\bin\gsutil.cmd
# BQ_WIN_PATH=C:\Program Files (x86)\Google\Cloud SDK\google-cloud-sdk\bin\bq.cmd
